
@{
    ViewBag.Title = "Library Main";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<h2 Style="text-align: right; font-family: Corbel; font-size: large;">LIBRARY MAIN</h2>
@section head
{
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js" type="text/javascript"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    @*<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>*@
}
@using (Html.BeginForm("Index", "Main", null, FormMethod.Post))
{
    <div Style="font-family: Corbel; font-size: small ;text-align:center; " class="row">
        <div class="col-md-6">
            BOOK ISSUE-RETURN COMPARISON
            <div class="chart-container" style="width:100%">
                <canvas id="myChart" style="padding: 0;margin: auto;display: block;"> </canvas>
            </div>
        </div>
        <div class="col-md-6">
            BOOK STATUS COMPARISON
            <div style="width:100%;text-align:center;align-content:center;align-items:center; ">
                <canvas id="myChart2" style="padding: 0;margin: auto;display: block;"> </canvas>
            </div>
        </div>
    </div>
    <div Style="font-family: Corbel; font-size: small ;text-align:center;" class="row">
        <div class="col-md-6">
            BOOK COPIES
            <div class="chart-container" style="width:100%">
                <canvas id="myChart3" style="padding: 0;margin: auto;display: block;"> </canvas>
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div Style="font-family: Corbel; font-size: small ;text-align:center; " class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <script>
        $.ajax({
            type: "POST",
            url: "/Main/Chart1",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(mems)
            {
                var aData = mems;
                var aLabels = aData[0];
                var aDatasets1 = aData[1];
                var aDatasets2 = aData[2];
                var dataT = {
                    labels: aLabels,
                    datasets: [{
                        label: "Issues",
                        data: aDatasets1,
                        pointRadius: 0,
                        //pointBackgroundColor: "rgba(255, 99, 132,0.2)",
                        //pointHoverBorderColor: "rgb(255, 99, 132)",
                        //pointBorderColor: "rgba(255, 99, 132,0.2)",
                        bordercolor: "rgb(255, 99, 132)",
                        //pointHoverBackgroundColor: "rgba(255, 99, 132,0.2)",
                        backgroundColor: "rgba(255, 99, 132,0.2)",
                        borderWidth: 2,
                        //backgroundColor: ["#62c2e4", "#669ae1"]
                    },
                    {
                        label: "Returns",
                        data: aDatasets2,
                        pointRadius:0,
                        //pointBackgroundColor: "rgba(75, 192, 192,0.2)",
                        //pointHoverBorderColor: "rgb(75, 192, 192)",
                        //pointBorderColor: "rgba(75, 192, 192,0.2)",
                        bordercolor: "rgb(75, 192, 192)",
                        //pointHoverBackgroundColor: "rgba(75, 192, 192,0.2)",
                        backgroundColor: "rgba(75, 192, 192,0.2)",
                        borderWidth: 2,
                        //backgroundColor: ["#c49cde", "#db9dbe"]
                    }]
                };
                var ctx = $("#myChart").get(0).getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'line',
                    data: dataT,
                    options: {
                        scales: {
                            xAxes: [{ display: true, scaleLabel: { display: false, labelString: 'Date' } }],
                            yAxes: [{ display: true, scaleLabel: { display: false, labelString: 'Count' }, ticks: { stepSize: 1, beginAtZero: true } }]
                        },
                        elements: { line: { tension: 0 } }
                    },
                    
                    borderWidth: 1

                });
            }
        });

        $.ajax({
            type: "POST",
            url: "/Main/Chart2",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(mems)
            {
                var aData = mems;
                var aLabels = aData[0];
                var aDatasets1 = aData[1];
                var dataT = {
                    labels: aLabels,
                    datasets: [{
                        label: "",
                        data: aDatasets1,
                        backgroundColor: ["rgba(75, 192, 192,0.2)","rgba(255, 99, 132,0.2)"]
                    }]
                };
                var ctx = $("#myChart2").get(0).getContext("2d");
                var myPieChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: dataT,
                    options: {
                        responsive: false,
                        cutoutPercentage: 60,
                        //radiusPercentage: 0.8,
                        circumference: Math.PI,
                        rotation:Math.PI
                    }
                });
            }
        });

        $.ajax({
            type: "POST",
            url: "/Main/Chart3",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (mems) {
                var aData = mems;
                var aLabels = aData[0];
                var aDatasets1 = aData[1];
                var dataT = {
                    labels: aLabels,
                    datasets: [{
                        label: "No. of Copies",
                        data: aDatasets1,
                        fill: false,
                        backgroundColor: ["rgba(54, 162, 235, 0.2)", "rgba(255, 99, 132, 0.2)", "rgba(255, 159, 64, 0.2)", "rgba(255, 205, 86, 0.2)", "rgba(75, 192, 192, 0.2)", "rgba(153, 102, 255, 0.2)", "rgba(201, 203, 207, 0.2)"],
                        borderColor: ["rgb(54, 162, 235)", "rgb(255, 99, 132)", "rgb(255, 159, 64)", "rgb(255, 205, 86)", "rgb(75, 192, 192)", "rgb(153, 102, 255)", "rgb(201, 203, 207)"],
                        borderWidth: 1
                    }]
                };
                var ctx = $("#myChart3").get(0).getContext("2d");
                var myPieChart = new Chart(ctx, {
                    type: 'bar',
                    data: dataT,
                    options: {
                        responsive: true,
                        scales: {
                            xAxes: [{ display: true, scaleLabel: { display: false, labelString: 'Book Code' } }],
                            yAxes: [{ display: true, scaleLabel: { display: false, labelString: 'Count' }, ticks: { stepSize: 4, beginAtZero: true } }]
                        },
                    }
                });
            }
        });

    </script>
}
