
@{
    ViewBag.Title = "Library Main";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<h2 Style="text-align: right; font-family: Corbel; font-size: large;">LIBRARY MAIN</h2>

<table style="width:100%;height:100%">
    <tr style="height:50%">
        <td style="width:50%">

        </td>
        <td style="width:50%">

        </td>
    </tr>
    <tr style="height:50%">
        <td style="width:50%"></td>
        <td style="width:50%"></td>
    </tr>
</table>