@model List<LibraryMVC.Models .LibraryMembersListSP_Result>
<div style="font-family:Calibri ;font-size:12px">
    @{
        WebGrid grid = new WebGrid(Model, canPage: true, rowsPerPage: 10, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
        <div id="gridContent">
            @grid.GetHtml(
                            tableStyle: "table table-bordered table-striped table-condensed",
                            mode: WebGridPagerModes.All,
                            firstText: "<<First",
                            lastText: "Last>>",
                            nextText: "Next>",
                            previousText: "<Prev",
                            headerStyle: "grid-header",
                         footerStyle: "webgrid-footer",
                         alternatingRowStyle: "webgrid-alternating-row",
                         selectedRowStyle: "webgrid-selected-row",
                         rowStyle: "gridrow",
                         columns: grid.Columns
                         (
                            grid.Column("Member_Code", "MEMBER CODE"),
                            grid.Column("Member_Name", "MEMBER NAME", style: "description"),
                            grid.Column("", format: @<button class="edit-member" type="button" id="@item.AccountID">Select</button>)
                        )
                )
        </div>
    }
</div>
<script type="text/javascript" >
    $(document).on('click', '.edit-member', function () {
        $.ajax({
            url: '/Issue/FillMemberData',
            type: "GET",
            dataType: "JSON",
            data: { ID: $(this).attr('id') },
            success: function (mems) {
                $("#AccountCode").val(mems.Code);
                $("#AccountName").val(mems.Name);
                $("#Description").val(mems.Category);
                $("#MemberID").val(mems.AccountID);
            }
        });
        $('#modal-container').modal('hide');
    });
</script>