@model List<LibraryMVC.Models.LibraryBookReturnListSP_Result >
<div style="font-family:Calibri ;font-size:12px">
    @{ 
        WebGrid grid = new WebGrid(Model, canPage: true, rowsPerPage: 20, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
        <div id="gridContent">
            @grid.GetHtml(
                            tableStyle: "table table-bordered table-striped table-condensed",
                            mode: WebGridPagerModes.All,
                            firstText: "<<First",
                            lastText: "Last>>",
                            nextText: "Next>",
                            previousText: "<Prev",
                            headerStyle: "grid-header",
                         footerStyle: "webgrid-footer",
                         alternatingRowStyle: "webgrid-alternating-row",
                         selectedRowStyle: "webgrid-selected-row",
                         rowStyle: "gridrow",
                    columns: grid.Columns
                    (
                    grid.Column("ReturnNo", "RETURN NO"),
                    grid.Column("ReturnDate", "RETURN DATE", format: (item) => item.ReturnDate != null ? item.ReturnDate.ToString("dd/MM/yyyy") : "", canSort: true),
                    grid.Column("IssueNo", "ISSUE NO"),
                    grid.Column("IssueDate", "ISSUE DATE", format: (item) => item.IssueDate != null ? item.IssueDate.ToString("dd/MM/yyyy") : "", canSort: true),
                    grid.Column("Title", "TITLE", style: "description"),
                    grid.Column("AccessionNo", "ACCESSION NO"),
                    grid.Column("MemberType", "MEMBER TYPE"),
                    grid.Column("MemberName", "MEMBER NAME", style: "description"),
                    grid.Column("DaysInHand", "DAYS IN HAND"),
                    grid.Column(columnName: "ACTIONS", format: (item) => Html.ActionLink("View", "Details", new { id = (object)item.ReturnID }))
                    )
                            )
        </div>
    }
</div>
